@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

.navigation{
    display: flex;
    height: 8vh;
    justify-content: space-around;
    align-items: center;
}
.logonav{
    height: 8vh;
}
.numMenu{
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
}
.lien{
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 22px;
    margin: 0 4vw 0 4vw;
    text-decoration: none;
    color: black;
}
.lien:hover{
    text-shadow: 1px 1px 0px rgba(0,0,0,0.9);
}
